.container {
  display: flex;
  justify-content: space-around;
  flex: auto;
}

.logocontainer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

body {
  text-align: center;
}
