.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: auto;
  flex-flow: row wrap;
}

#imageSection {
  background-color: #DBDBDB;
}

article {
  padding: 2%;
}

.logocontainer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

body {
  text-align: center;
}
